/home/oluwaloseyi/.vscode-server/
__pycache__/
/.wget-hsts/
/home/oluwaloseyi/.local/
/home/oluwaloseyi/.cache/
.bash_history
.bash_logout
.bashrc
.lesshst
.profile
.psql_history
.python_history
.selected_editor
.ssh/authorized_keys
.ssh/id_rsa.pub
.sudo_as_admin_successful
.wget-hsts
.cache/
.local/
.vscode-server/
.lamisplus_venv/
.airflow_env/
airflow.db  
airflow_env
airflow-webserver.pid  
dags/build
dags/data_transformation_and_report_generation.egg-info
logs
webserver_config.py
